In [1]:
import pandas as pd
import numpy as np
import datetime

%run ./classifica_serie_a.ipynb

./classifica-serie-a/2019-01-01_2019-08-26_0.csv
./classifica-serie-a/2019-08-27_2019-09-01_1.csv
./classifica-serie-a/2019-09-02_2019-09-16_2.csv
./classifica-serie-a/2019-09-17_2019-09-22_3.csv
./classifica-serie-a/2019-09-23_2019-09-26_4.csv
./classifica-serie-a/2019-09-27_2019-09-30_5.csv
./classifica-serie-a/2019-10-01_2019-10-06_6.csv
./classifica-serie-a/2019-10-07_2019-10-21_7.csv
./classifica-serie-a/2019-10-22_2019-10-27_8.csv
./classifica-serie-a/2019-10-28_2019-10-31_9.csv
./classifica-serie-a/2019-11-01_2019-11-04_10.csv
./classifica-serie-a/2019-11-05_2019-11-10_11.csv
./classifica-serie-a/2019-11-11_2019-11-25_12.csv
./classifica-serie-a/2019-11-26_2019-12-02_13.csv
./classifica-serie-a/2019-12-03_2019-12-08_15.csv
./classifica-serie-a/2019-12-09_2019-12-16_15.csv
./classifica-serie-a/2019-12-17_2019-12-22_16.csv
./classifica-serie-a/2019-12-23_2020-01-06_17.csv
./classifica-serie-a/2020-01-07_2020-01-13_18.csv
./classifica-serie-a/2020-01-13_2020-01-20_19.csv
./classifica-serie-a/2020-01-21_2020-01-26_20.csv
./classifica-serie-a/2020-01-27_2020-02-03_21.csv
./classifica-serie-a/2020-02-04_2020-02-09_22.csv
./classifica-serie-a/2020-02-10_2020-02-17_23.csv
./classifica-serie-a/2020-02-18_2020-02-23_24.csv
./classifica-serie-a/2020-02-24_2020-03-09_25.csv
Start date: 2019-08-27
End date: 2019-09-01
Classifica:
Inter - 1
Lazio - 2
Napoli - 3
Atalanta - 4
Torino - 5
Brescia - 6
Juventus - 7
Udinese - 8
Roma - 9
Genoa - 10
Bologna - 11
Verona - 12
Fiorentina - 13
SPAL - 14
Sassuolo - 15
Milan - 16
Parma - 17
Cagliari - 18
Sampdoria - 19
Lecce - 20

In [2]:
cal = pd.read_csv('./datasets/calendario_serie_a_processed.csv')
cal.loc[cal['casa_prov']=='NP','casa_prov']='NA'
cal.loc[cal['trasferta_prov']=='NP','trasferta_prov']='NA'
cal.head()

,data,diretta,casa,trasferta,casa_prov,trasferta_prov
0,2019-12-14 15:00:00,SKY,Brescia,Lecce,BS,LE
1,2019-12-14 18:30:00,SKY,Napoli,Parma,NA,PR
2,2019-12-14 20:45:00,DAZN,Genoa,Sampdoria,GE,GE
3,2019-12-15 12:30:00,DAZN,Hellas Verona,Torino,VR,TO
4,2019-12-15 15:00:00,DAZN,Bologna,Atalanta,BO,BG

In [33]:
def set_game_flag(date, team1, team2, s_d, squadra):
    value = 0
   # if 

def calculate_match_vector(df):
    match = pd.Dataframe(columns=['DATA', 'GAME'])
    
    for index, row in df.iterrows():
        row['data'] in match['DATA']:
            match[match['DATA']==row['data'],'GAME']=[set_game_flag(row['data']
                                                                    ,0,0,0,0]
        else 
        
calculate_match_vector(cal)


| DATA | [. , . , .]| -> |Regione| perc_juve| etc|

|DATA | REGIONE | KPI |

2019-12-14 15:00:00
2019-12-14 18:30:00
2019-12-14 20:45:00
2019-12-15 12:30:00
2019-12-15 15:00:00
2019-12-15 15:00:00
2019-12-15 15:00:00
2019-12-15 18:00:00
2019-12-15 20:45:00
2019-12-16 20:45:00
2019-12-18 18:55:00
2019-12-20 20:45:00
2019-12-21 15:00:00
2019-12-21 18:00:00
2019-12-21 20:45:00
2019-12-22 12:30:00
2019-12-22 15:00:00
2019-12-22 15:00:00
2019-12-22 20:45:00
2020-02-05 20:45:00
2020-01-05 12:30:00
2020-01-05 15:00:00
2020-01-05 18:00:00
2020-01-05 20:45:00
2020-01-06 12:30:00
2020-01-06 15:00:00
2020-01-06 15:00:00
2020-01-06 15:00:00
2020-01-06 18:00:00
2020-01-06 20:45:00
2020-01-11 15:00:00
2020-01-11 18:00:00
2020-01-11 20:45:00
2020-01-12 12:30:00
2020-01-12 15:00:00
2020-01-12 15:00:00
2020-01-12 15:00:00
2020-01-12 18:15:00
2020-01-12 20:45:00
2020-01-13 20:45:00
2020-01-18 15:00:00
2020-01-18 18:00:00
2020-01-18 20:45:00
2020-01-19 12:30:00
2020-01-19 15:00:00
2020-01-19 15:00:00
2020-01-19 15:00:00
2020-01-19 18:00:00
2020-01-19 20:45:00
2020-01-20 20:45:00
2020-01-24 20:45:00
2020-01-25 15:00:00
2020-01-25 18:00:00
2020-01-25 20:45:00
2020-01-26 12:30:00
2020-01-26 15:00:00
2020-01-26 15:00:00
2020-01-26 15:00:00
2020-01-26 18:00:00
2020-01-26 20:45:00
2020-02-01 15:00:00
2020-02-01 18:00:00
2020-02-01 20:45:00
2020-02-02 12:30:00
2020-02-02 15:00:00
2020-02-02 15:00:00
2020-02-02 15:00:00
2020-02-02 18:00:00
2020-02-02 20:45:00
2020-02-03 20:45:00
2020-02-07 20:45:00
2020-02-08 15:00:00
2020-02-08 18:00:00
2020-02-08 20:45:00
2020-02-09 12:30:00
2020-02-09 15:00:00
2020-02-09 15:00:00
2020-02-09 15:00:00
2020-02-09 18:00:00
2020-02-09 20:45:00
2020-02-15 15:00:00
2020-02-15 18:00:00
2020-02-15 20:45:00
2020-02-16 12:30:00
2020-02-16 15:00:00
2020-02-16 15:00:00
2020-02-16 15:00:00
2020-02-16 18:00:00
2020-02-16 20:45:00
2020-02-17 20:45:00

In [22]:
list1 = [1, 2, 3, 4, 5]
list2 = [123, 234, 456]
d = {'a': [], 'b': []}
d['a'].append(list1)
d['a'].append(list2)
print (d['a'])

[[1, 2, 3, 4, 5], [123, 234, 456]]

Come informazione aggiuntiva potrebbe essere utile conoscere le percentuali di tifosi per squadre 
Come esempio prendiamo le squadre più blasonate (Juve, Inter, Milan, Roma, Lazio, Napoli)

In [323]:
#Anagrafica prelevata da https://www.istat.it/it/archivio/6789
prv = pd.read_csv('./datasets/Elenco-comuni-italiani.csv', sep=';', encoding='latin-1')
prv

,Codice Regione,Codice dell'Unità territoriale sovracomunale \n(valida a fini statistici),Codice Provincia (Storico)(1),Progressivo del Comune (2),Codice Comune formato alfanumerico,Denominazione (Italiana e straniera),Denominazione in italiano,Denominazione altra lingua,Codice Ripartizione Geografica,Ripartizione geografica,...,Sigla automobilistica,Codice Comune formato numerico,Codice Comune numerico con 110 province (dal 2010 al 2016),Codice Comune numerico con 107 province (dal 2006 al 2009),Codice Comune numerico con 103 province (dal 1995 al 2005),Codice Catastale del comune,Popolazione legale 2011 (09/10/2011),NUTS1,NUTS2(3),NUTS3
0,1,201,1,1,1001,Agliè,Agliè,NaN,1,Nord-ovest,...,TO,1001,1001,1001,1001,A074,2.644,ITC,ITC1,ITC11
1,1,201,1,2,1002,Airasca,Airasca,NaN,1,Nord-ovest,...,TO,1002,1002,1002,1002,A109,3.819,ITC,ITC1,ITC11
2,1,201,1,3,1003,Ala di Stura,Ala di Stura,NaN,1,Nord-ovest,...,TO,1003,1003,1003,1003,A117,462,ITC,ITC1,ITC11
3,1,201,1,4,1004,Albiano d'Ivrea,Albiano d'Ivrea,NaN,1,Nord-ovest,...,TO,1004,1004,1004,1004,A157,1.791,ITC,ITC1,ITC11
4,1,201,1,6,1006,Almese,Almese,NaN,1,Nord-ovest,...,TO,1006,1006,1006,1006,A218,6.303,ITC,ITC1,ITC11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7899,20,111,111,103,111103,Villaputzu,Villaputzu,NaN,5,Isole,...,SU,111103,92097,92097,92097,L998,4.836,ITG,ITG2,ITG27
7900,20,111,111,104,111104,Villasalto,Villasalto,NaN,5,Isole,...,SU,111104,92098,92098,92098,M016,1.127,ITG,ITG2,ITG27
7901,20,111,111,105,111105,Villasimius,Villasimius,NaN,5,Isole,...,SU,111105,92100,92100,92100,B738,3.420,ITG,ITG2,ITG27
7902,20,111,111,106,111106,Villasor,Villasor,NaN,5,Isole,...,SU,111106,92101,92101,92101,M025,6.857,ITG,ITG2,ITG27
7903,20,111,111,107,111107,Villaspeciosa,Villaspeciosa,NaN,5,Isole,...,SU,111107,92102,92102,92102,M026,2.407,ITG,ITG2,ITG27

In [324]:
prv=prv.drop_duplicates(['Denominazione regione', 'Sigla automobilistica'])[
    ['Denominazione regione', 'Sigla automobilistica']]
prv.rename(columns={'Denominazione regione':'REGIONE', 
                    'Sigla automobilistica':'PROVINCIA'
                   }, 
                 inplace=True)

# List of series  
listOfSeries = [pd.Series(['Sardegna', 'OT'], index=prv.columns ) ,
                pd.Series(['Sardegna', 'OG'], index=prv.columns ) ,
                pd.Series(['Sardegna', 'CI'], index=prv.columns ),
                pd.Series(['Emilia-Romagna', 'SM'], index=prv.columns ), #Repubblica di San Marino inserita per comodità in Emilia
                pd.Series(['Sardegna', 'VS'], index=prv.columns )  ]
prv = prv.append(listOfSeries , ignore_index=True)
prv.reset_index(drop=True)

            REGIONE PROVINCIA
0          Piemonte        TO
1          Piemonte        VC
2          Piemonte        NO
3          Piemonte        CN
4          Piemonte        AT
..              ...       ...
107        Sardegna        OT
108        Sardegna        OG
109        Sardegna        CI
110  Emilia-Romagna        SM
111        Sardegna        VS

[112 rows x 2 columns]

In [334]:
#Anagrafica basata sui dati https://forum.termometropolitico.it/170882-percentuale-di-tifosi-per-squadra-italia-regione-per-regione.html
# create a dictionary 
dictionary = {'REGIONE' : pd.Series(['Piemonte', 'Lombardia', "Valle d'Aosta/Vallée d'Aoste", 'Trentino-Alto Adige/Südtirol', 'Veneto', 'Friuli-Venezia Giulia', 'Liguria', 'Emilia-Romagna', 'Toscana', 'Umbria', 'Marche', 'Lazio', 'Abruzzo', 'Molise', 'Campania', 'Puglia', 'Basilicata', 'Calabria', 'Sicilia', 'Sardegna']),
              'JUVENTUS' : pd.Series([34.1, 22.5, 34.1, 33.4, 28.1, 24.9, 20.4, 24.2, 23.2, 23, 34, 16.3, 33.5, 32.9, 17.1, 28.8, 31.3, 29.6, 33.8, 23.4]),
              'INTER' : pd.Series([11.2, 26.9, 11.2, 17.1, 16.9, 12.8, 9.2, 15, 12.4, 16.1, 17.9, 6, 19.8, 19, 10, 14.4, 26, 16.4, 17.2, 13.2] ),
              'MILAN' : pd.Series([26.1, 10.9, 26.1, 24.3, 22.5, 23.5, 10.5, 18.7, 16.5, 18, 18.4, 6.5, 19.2, 22.2, 9.4, 19.9, 15.1, 14.1, 19.1, 12.6]), 
              'ROMA' : pd.Series([1.5, np.NaN, 1.5, 3.9, np.NaN, np.NaN, 1.7, np.NaN, 2.5, 4.4, 3.3, 35.1, 5.8, 4.2, 2.9, 4.4, 3.8, 4.4, 3.8, 3.5]),
              'NAPOLI' : pd.Series([3.3, 4.6, 3.3, 4.5, 3.6, 2.8, 3.4, 3.3, 4.5, np.NaN, np.NaN, 4, 3.2, 7.9, 46.7, 4.7, 8.6, 4.5, 3.2, 2.7])}

anag_tifosi = pd.DataFrame(dictionary)
anag_tifosi

                         REGIONE  JUVENTUS  INTER  MILAN  ROMA  NAPOLI
0                       Piemonte      34.1   11.2   26.1   1.5     3.3
1                      Lombardia      22.5   26.9   10.9   NaN     4.6
2   Valle d'Aosta/Vallée d'Aoste      34.1   11.2   26.1   1.5     3.3
3   Trentino-Alto Adige/Südtirol      33.4   17.1   24.3   3.9     4.5
4                         Veneto      28.1   16.9   22.5   NaN     3.6
5          Friuli-Venezia Giulia      24.9   12.8   23.5   NaN     2.8
6                        Liguria      20.4    9.2   10.5   1.7     3.4
7                 Emilia-Romagna      24.2   15.0   18.7   NaN     3.3
8                        Toscana      23.2   12.4   16.5   2.5     4.5
9                         Umbria      23.0   16.1   18.0   4.4     NaN
10                        Marche      34.0   17.9   18.4   3.3     NaN
11                         Lazio      16.3    6.0    6.5  35.1     4.0
12                       Abruzzo      33.5   19.8   19.2   5.8     3.2
13                        Molise      32.9   19.0   22.2   4.2     7.9
14                      Campania      17.1   10.0    9.4   2.9    46.7
15                        Puglia      28.8   14.4   19.9   4.4     4.7
16                    Basilicata      31.3   26.0   15.1   3.8     8.6
17                      Calabria      29.6   16.4   14.1   4.4     4.5
18                       Sicilia      33.8   17.2   19.1   3.8     3.2
19                      Sardegna      23.4   13.2   12.6   3.5     2.7

In [326]:
traf = pd.read_csv('./datasets/final_dataset_v2.csv')
traf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178703 entries, 0 to 178702
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 178703 non-null  object
 1   PROVINCIA          169474 non-null  object
 2   DATA               178703 non-null  object
 3   CAPACITA           178703 non-null  int64
 4   SOGLIA GIALLA      178703 non-null  float64
 5   SOGLIA ROSSA       178703 non-null  float64
 6   MAX_DS             178703 non-null  float64
 7   INTERVALLO_MAX_DS  178703 non-null  object
 8   TIPO_GIORNO_DS     178703 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 12.3+ MB

Aggreghiamo gli apparati per province e a intervalli di 3 ore. Come valore di MAX_DS aggregato prendiamo la media. 
Aggiungiamo i campi: Numero di apparati, Superamento Soglia Gialla, Superamento Soglia Rossa
Manteniamo anche il campo TIPO_GIORNO_DS su cui effettuiamo l'encoding

In [327]:
traf.loc[traf['SOGLIA GIALLA']<traf['MAX_DS'], 'SOPRA_SOGLIA_GIALLA'] =1
traf.loc[traf['SOGLIA ROSSA']<traf['MAX_DS'], 'SOPRA_SOGLIA_ROSSA'] =1
traf.loc[traf['CAPACITA']<traf['MAX_DS'], 'SOPRA_CAPACITA'] =1
traf.fillna({'SOPRA_SOGLIA_GIALLA':0, 'SOPRA_SOGLIA_ROSSA':0, 'SOPRA_CAPACITA':0}, inplace=True)
traf.drop(['CAPACITA', 'SOGLIA GIALLA', 'SOGLIA ROSSA'], axis=1, inplace=True)
traf[traf.SOPRA_CAPACITA==1]

,ID,PROVINCIA,DATA,MAX_DS,INTERVALLO_MAX_DS,TIPO_GIORNO_DS,SOPRA_SOGLIA_GIALLA,SOPRA_SOGLIA_ROSSA,SOPRA_CAPACITA
54084,PISTITMM-400MSANOLT,PT,02-01-2020,157.3088,19:15,FER,1.0,1.0,1.0
59917,FRNZITNC-400MSANOLT,FI,03-01-2020,180.8074,21:15,FER,1.0,1.0,1.0
68326,SGVAITFE-400MSANOLT,AR,05-01-2020,158.8630,23:00,FES,1.0,1.0,1.0
75401,FRNZITNC-400MSANOLT,FI,06-01-2020,156.5453,19:45,FES,1.0,1.0,1.0
100558,FRNZITNC-400MSANOLT,FI,11-01-2020,151.2334,21:30,FES,1.0,1.0,1.0
156985,PGGIITDB-400MSANOLT,SI,22-01-2020,159.0621,21:30,FER,1.0,1.0,1.0
162643,CASSITDM-400MSANOLT,FR,23-01-2020,157.8280,15:15,FER,1.0,1.0,1.0

In [328]:
traf.loc[:,'DATA'] = pd.to_datetime(traf.DATA + ' ' + traf.INTERVALLO_MAX_DS, format="%d-%m-%Y %H:%M")

traf_f=traf.groupby([pd.Grouper(key='DATA', freq='3H'), 'PROVINCIA', 'TIPO_GIORNO_DS']).agg({'MAX_DS': 'sum', 
                                         'SOPRA_SOGLIA_GIALLA' : 'sum',
                                         'SOPRA_SOGLIA_ROSSA' : 'sum',
                                         'SOPRA_CAPACITA' : 'sum'}).reset_index()
tmp = traf.groupby([pd.Grouper(key='DATA', freq='3H'), 'PROVINCIA', 'TIPO_GIORNO_DS']).size().to_frame('N_APPARATI').reset_index()
traf_f=pd.merge(traf_f, tmp, on=['DATA', 'PROVINCIA', 'TIPO_GIORNO_DS'], how='outer').reset_index(drop=True)

traf_f.head()

,DATA,PROVINCIA,TIPO_GIORNO_DS,MAX_DS,SOPRA_SOGLIA_GIALLA,SOPRA_SOGLIA_ROSSA,SOPRA_CAPACITA,N_APPARATI
0,2019-12-23,AG,FER,17.8873,0.0,0.0,0.0,1
1,2019-12-23,AL,FER,143.0735,0.0,0.0,0.0,7
2,2019-12-23,AN,FER,251.1803,0.0,0.0,0.0,4
3,2019-12-23,AP,FER,86.8396,0.0,0.0,0.0,2
4,2019-12-23,AR,FER,190.8758,0.0,0.0,0.0,5

In [329]:
#Convertiamo il tipo di giorno FER o FES in 0 o 1
traf_f.replace({'TIPO_GIORNO_DS': {'FER': 0, 'FES': 1}}, inplace=True)

#Aggiungiamo la regione
traf_f=pd.merge(traf_f, prv, on=['PROVINCIA'], how='left').reset_index(drop=True)

In [333]:
traf_f

,DATA,PROVINCIA,TIPO_GIORNO_DS,MAX_DS,SOPRA_SOGLIA_GIALLA,SOPRA_SOGLIA_ROSSA,SOPRA_CAPACITA,N_APPARATI,REGIONE
0,2019-12-23 00:00:00,AG,0,17.8873,0.0,0.0,0.0,1,Sicilia
1,2019-12-23 00:00:00,AL,0,143.0735,0.0,0.0,0.0,7,Piemonte
2,2019-12-23 00:00:00,AN,0,251.1803,0.0,0.0,0.0,4,Marche
3,2019-12-23 00:00:00,AP,0,86.8396,0.0,0.0,0.0,2,Marche
4,2019-12-23 00:00:00,AR,0,190.8758,0.0,0.0,0.0,5,Toscana
...,...,...,...,...,...,...,...,...,...
17738,2020-01-26 21:00:00,VI,1,3919.7270,0.0,0.0,0.0,28,Veneto
17739,2020-01-26 21:00:00,VR,1,2547.6016,0.0,0.0,0.0,26,Veneto
17740,2020-01-26 21:00:00,VS,1,31.3531,0.0,0.0,0.0,1,Sardegna
17741,2020-01-26 21:00:00,VT,1,1237.9667,0.0,0.0,0.0,11,Lazio
17742,2020-01-26 21:00:00,VV,1,337.3437,0.0,0.0,0.0,7,Calabria

In [335]:
traf_f=pd.merge(traf_f, anag_tifosi, on=['REGIONE'], how='left').reset_index(drop=True)

In [336]:
traf_f

,DATA,PROVINCIA,TIPO_GIORNO_DS,MAX_DS,SOPRA_SOGLIA_GIALLA,SOPRA_SOGLIA_ROSSA,SOPRA_CAPACITA,N_APPARATI,REGIONE,JUVENTUS,INTER,MILAN,ROMA,NAPOLI
0,2019-12-23 00:00:00,AG,0,17.8873,0.0,0.0,0.0,1,Sicilia,33.8,17.2,19.1,3.8,3.2
1,2019-12-23 00:00:00,AL,0,143.0735,0.0,0.0,0.0,7,Piemonte,34.1,11.2,26.1,1.5,3.3
2,2019-12-23 00:00:00,AN,0,251.1803,0.0,0.0,0.0,4,Marche,34.0,17.9,18.4,3.3,NaN
3,2019-12-23 00:00:00,AP,0,86.8396,0.0,0.0,0.0,2,Marche,34.0,17.9,18.4,3.3,NaN
4,2019-12-23 00:00:00,AR,0,190.8758,0.0,0.0,0.0,5,Toscana,23.2,12.4,16.5,2.5,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17738,2020-01-26 21:00:00,VI,1,3919.7270,0.0,0.0,0.0,28,Veneto,28.1,16.9,22.5,NaN,3.6
17739,2020-01-26 21:00:00,VR,1,2547.6016,0.0,0.0,0.0,26,Veneto,28.1,16.9,22.5,NaN,3.6
17740,2020-01-26 21:00:00,VS,1,31.3531,0.0,0.0,0.0,1,Sardegna,23.4,13.2,12.6,3.5,2.7
17741,2020-01-26 21:00:00,VT,1,1237.9667,0.0,0.0,0.0,11,Lazio,16.3,6.0,6.5,35.1,4.0
17742,2020-01-26 21:00:00,VV,1,337.3437,0.0,0.0,0.0,7,Calabria,29.6,16.4,14.1,4.4,4.5